@font-face {
    font-family: 'SF Pro';
    src: local('SF Pro'), url(./fonts/SF-Pro.ttf) format('truetype');
}

body {
    margin: 0;
    font-family: 'SF Pro', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(250, 250, 250, 1);
}
